body {
  padding: 5px;
  margin: 0;
}

.weather-app {
  border: 1px solid #0393b7;
  border-radius: 10px;
  background: #fff;
  padding: 5px 5px 25px 5px;
  max-width: 960px;
  width: 95%;
  margin: 10px auto;
}

a {
  font-family: "Open Sans", sans-serif;
  color: #000000;
}

.active {
  color: #0393b7;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 46px;
  font-weight: 800;
  color: #0393b7;
  margin-bottom: 15px;
}

#icon {
  width: 50%;
  text-align: center;
  display: block;
  margin: 0 auto;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 800;
  color: #0393b7;
  padding-top: -20px;
  margin: 0 auto;
  display: inline;
}

footer {
  font-family: "Open Sans", sans-serif;
  color: #000;
  text-align: center;
}

p {
  font-family: "Open Sans", sans-serif;
  color: #000;
  text-transform: capitalize;
}

#wind,
#pressure {
  text-transform: none;
}

button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background: #0393b7;
  color: #f3f8fa;
  border: 1px solid #0393b7;
  border-radius: 10px;
  padding: 5px 20px;
  cursor: pointer;
}

form {
  margin-top: 20px;
}

#first-column {
  padding: 30px;
}

#second-column {
  padding: 30px;
  text-align: center;
}

#third-column {
  padding: 30px;
  margin-top: 40px;
}

.days {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  color: #000;
}

.temps {
  font-family: "Open Sans", sans-serif;
  color: #000;
}

sup {
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-size: 12pt;
}

input [type="button"],
input[type="submit"],
input[type="reset"] {
  border: 1px solid #0393b7;
  background: #0393b7;
  color: #f3f8fa;
  border-radius: 10px;
  padding: 5px 10px;
}

input [type="text"] {
  color: #000;
  border: #000;
}

.forecast-temp-min {
  opacity: 0.6;
}

.weather-forecast {
  text-align: center;
}
